@model IPagedList<OrderDetailResModel>

@section UserName {
    @ViewBag.UserName
}

<p>
    <b>
        @TempData["Result"]
    </b>
</p></br></br>

<section class="panel">
    <header class="panel-heading">
        <h2>Sipariş Detayları</h2>
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th class="hidden-phone">OrderId</th>
                        <th class="hidden-phone">ProductID</th>
                        <th class="hidden-phone">ProductName</th>
                        <th class="hidden-phone">ShippingAddress</th>
                        <th class="hidden-phone">Quantity</th>
                        <th class="hidden-phone">Price</th>
                        <th class="hidden-phone">Status</th>
                        <th class="hidden-phone">Delete</th>
                        <th class="hidden-phone">Destroy</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderDetailResModel item in Model.ToList())
                    {
                        <tr class="gradeX">
                            <td class="hidden-phone">@item.OrderID</td>
                            <td class="hidden-phone">@item.ProductID</td>
                            <td class="hidden-phone">@item.ProductName</td>
                            <td class="hidden-phone">@item.ShippingAddress</td>
                            <td class="hidden-phone">@item.Quantity</td>
                            <td class="hidden-phone">@item.Price.ToString("C2")</td>
                            <td class="hidden-phone">@item.Status</td>
                            <td class="center hidden-phone"><a asp-action="DeleteOrderDetail" asp-Contoller="OrderDetail" asp-route-orderID="@item.OrderID" asp-route-productID="@item.ProductID" class="btn btn-warning">Delete</a></td>
                            <td class="center hidden-phone"><a asp-action="DestroyOrderDetail" asp-Contoller="OrderDetail" asp-route-orderID="@item.OrderID" asp-route-productID="@item.ProductID" class="btn btn-danger">Destroy</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>

<section class="panel">
    <div class="panel-body">
        <div class="pull-right">
            <ul class="pagination pagination-sm pro-page-list">
                @Html.PagedListPager(Model, pageNumber => Url.Action("GetOrderDetails", new { pageNumber }))
            </ul>
        </div>
    </div>
</section>

@section Sepet {
    <li>
        <a asp-area="" asp-controller="Shopping" asp-action="CartPage"><i class="icon-shopping-cart"></i>&nbsp;&nbsp;&nbsp;CardPage</a>
    </li>
    <li>
        <a asp-area="" asp-controller="UserProfile" asp-action="UserProfile"><i class="icon-suitcase"></i>&nbsp;&nbsp;&nbsp;Profile</a>
    </li>
    <li>
        <a asp-area="" asp-controller="User" asp-action="ChangePassword"><i class="icon-cog"></i>&nbsp;&nbsp;&nbsp;ChangePassword</a>
    </li>
    <li>
        <a asp-area="" asp-controller="User" asp-action="LogOut"><i class="icon-key"></i>&nbsp;&nbsp;&nbsp;LogOut</a>
    </li>
 }
